.login-submit-form {
display: flex;
flex-direction: column;
}

.login-header {
  padding: 0 24px;
  height: 74px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;

  border-bottom: rgb(235 235 235) solid 1px;
}

#close-button {
  position: relative;
  left: -180px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight:900;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#close-button:hover {
  background-color: rgb(235 235 235);
}


#login-content-container {
  padding: 24px;
  height: 100%;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* justify-content: space-between  ; */
}

#welcome-banner {
  font-size: 22px;
  font-weight:600;
}

#or {
  height: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 12px;
}

#or-container {
  display: inline-flex;
  justify-content: center;
}

#or::before{
  content: "";
  display:block;
  height: 1px;
  width: 238px;
  margin-right: 16px;
  left:0;
  background-color: rgb(221 221 221);
}

#or::after{
  content: "";
  display:block;
  height: 1px;
  width: 238px;
  margin-left: 16px;
  left:0;
  background-color: rgb(221 221 221);
}


#or::after{

}

.input-field {
  height: 48px;
  border: hsl(0, 0%, 50%) solid 1px;
}

.input-field:focus {
  border: solid 1px black;
  border-radius: 16px;
}

.top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transform: translateY(1px);
}

.bottom {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.button {
  height: 48px;
  border-radius: 14px;
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer;
}

.button:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 0 6px;
}

.continue {
  background-color: var(--brand-color);
  color: white;
  font-weight: bold;
  border: none;
}
