#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  /* bottom:-150vh; */
  width: 568px;
  height: 682px;
  background-color:white;
  transition: bottom .2s ease-out;
}


/* #modal.show {
  bottom: 0
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 568px;
  height: 682px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;

  background-color: white;
  border: 1px solid var(--ui-brand-color);
  box-shadow: rgb(0 0 0 28%) 0px 8px;
  border-radius: 12px;

  transform: translateX(-50%) translateY(-50%);
  transition: transform .2s linear;
}

.modal * {
  width: 100%;
} */
