#spot-range {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  top: 10px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
}

.spot-link {
color: var(--ui-brand-color);
text-decoration: none;
}

.spot-card {
  /* position: relative;
  z-index: 0; */
  width: 300px;
  height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--ui-brand-color);
  border-radius: 16px;
  cursor: pointer;
}

.spot-card:hover {
  box-shadow: rgb(0 0 0 / 16%) 6px 6px 6px;
}

.spot-details {
  width: 100%;
  height: 80%;
}

.stars {
  float: right;
  top:0;
  right:0;
}

div.spot-card img {
  background-size: contain;
  width: 300px;
  height: 285px;
  border-radius: 16px;
  resize:both;
}
