#spot-range {
  display: grid;
  grid-auto-flow: row dense;
  column-gap: 24px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(350px, 1fr)); */
  padding-left: 80px;
  padding-right: 80px;
  top: 40pxpx;
}

.spot-card {
  /* position: absolute; */
  top: 0;
  height:fit-content;
  width: 100%;
  display: block;
  border-radius: 12px;
  cursor: pointer;
}


.spot-link {
color: var(--ui-brand-color);
text-decoration: none;
}


.spot-card:hover {
  box-shadow: rgb(0 0 0 / 16%) 6px 6px 6px;
}

.spot-details {
  width: 100%;
  height: 80%;
}

.stars {
  float: right;
  top:0;
  right:0;
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  resize: width;
  background-position: center;
  aspect-ratio: 20 /19;;
}
