#spot-range {
  display: grid;
  grid-auto-flow: row dense;
  column-gap: 24px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(350px, 1fr)); */
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(20px);
}

@media only screen and (max-width: 660px) {
  #spot-range {
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  }
  .spot-card {
    font-size: 12px;
  }
}

.spot-card {
  /* position: absolute; */
  top: 0;
  height:fit-content;
  width: 100%;
  display: block;
  border-radius: 12px;
  cursor: pointer;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* font-size: 16px; */
}


.spot-link {
color: var(--ui-brand-color);
text-decoration: none;
}


.spot-card:hover {
  box-shadow: rgb(0 0 0 / 16%) 6px 6px 6px;
}

.spot-details {
  width: 100%;
  /* height: 100%; */

}

.stars {
  float: right;
  top:0;
  right:0;
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  resize: width;
  background-position: center;
  aspect-ratio: 20 /19;;
}
