#spot-range {
  position: relative;
  top: 10px;
  z-index: -1;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spot-card {
  z-index: 0;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--ui-brand-color);
  border-radius: 10%;
}

.spot-details {
  width: 100%;
  height: 80%;
}

.stars {
  float: right;
  top:0;
  right:0;
}

div.spot-card img {
  width:300px;
  height: 250px;
  border-radius: 10%;
}
