.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
#subheader {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
}

#city, #state, #country {
  font-weight: 600;
  text-decoration: underline;
}

#num-reviews {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

#name {
  font-size: 26px;
  font-weight: 600;
}

#image-container {
  width: 100%;
  display: flex;
}

#divider {
  width: 50%;
}

.image {
  object-fit: cover;
  height:100%;
  width: 100%;
  position: absolute;
  /* vertical-align: bottom; */
}

#image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  resize: width;
  background-position: center;
  aspect-ratio: 1 / 1;
}

#main-grid {
  max-height: 500px;
  /* max-width: 1120px; */
  overflow: hidden;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 8px;

}

.bottom-padded {
  padding-bottom: 24px;
}

@media (max-width: 1000px) {
  #main-grid {
    grid-template-columns: 100%;
    max-height: 500px;
  }
  #image {
    aspect-ratio: 2 / 1;
  }
  #small-hide {
    display: none;
  }
}
#small-hide {
  grid-template-rows: repeat(2, minmax(200px, 1fr));
}

#details-container{
  padding: 32px 0;
}

#price-box {
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 24px;
  min-height: 200px;
  margin-left: 56px;
  width: 60%;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.wrap {
  flex-wrap: wrap;
}

.underline {
  text-decoration: underline;
}

#price {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;

}

#RHS-reviews span {
font-weight: 400;
padding-left: 4px;
}

#addImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 30px;
  background-color: var(--brand-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  border: none;
}
#addImage:hover {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.calendar-inputs {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}

.input-area {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  height: 48px;
  width: 100%;
}

#check-in, #check-out {
  width: 100%;
  font-family: montserrat;
  cursor: pointer;
}

#check-in {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* border-right: .5px; */
}

#check-out {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: .5px;
}

#reserve-button {
  width: 100%;
}

#reserve-button:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 0 6px;
}

#solid-line {
  width: 100%;
  height: 1px;
  background-color: rgb(128, 128, 128);
}

.floating-label {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  height: 25%;
  font-size: 14px;
  transform: translateY(-200%) translateX(10%);

}

.small-pad-vert {
  padding: 4px 0;
}

.bold {
  font-weight: bold;
}
