.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
#subheader {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
}

#num-reviews, #city, #state, #country {
  font-weight: 600;
  text-decoration: underline;
}

#dot {
  margin: 0 8px;
}

#name {
  font-size: 26px;
  font-weight: 600;
}

#image-container {
  width: 100%;
  display: flex;
}

#divider {
  width: 50%;
}

.image {
  object-fit: cover;
  height:100%;
  width: 100%;
  position: absolute;
  /* vertical-align: bottom; */
}

#image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  resize: width;
  background-position: center;
  aspect-ratio: 1 / 1;
}

#main-grid {
  max-height: 500px;
  /* max-width: 1120px; */
  overflow: hidden;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 8px;

}

.bottom-padded {
  padding-bottom: 24px;
}

@media (max-width: 1000px) {
  #small-hide {
    display: none;
  }
}

#details-container{
  padding: 32px 0;
}

#price-box {
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 24px;
  min-height: 200px;
  margin-left: 56px;
  width: 40%;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.wrap {
  flex-wrap: wrap;
}

.underline {
  text-decoration: underline;
}

#price {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;

}

#RHS-reviews span {
font-weight: 400;
padding-left: 4px;
}

#addImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 30px;
  background-color: var(--brand-color);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  border: none;
}
#addImage:hover {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
