.title {
  padding: 24px 40px 0;
  display: flex;
  flex-direction: column;
}
#subheader {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
}

#city, #state, #country {
  font-weight: 600;
}

#dot {
  margin: 0 8px;
}

#name {
  font-size: 26px;
  font-weight: 600;
}

#col1 {
  width: 50%;
  height:100%;
  position: absolute;
  left: 0;
}

#col2 {
  width:25%;
  height:100%;
  padding-left: 8px;
  position: absolute;
  left: 50%;
}
#col3 {
  width:25%;
  height:100%;
  padding-left: 8px;

  position: absolute;
  right: 0;
}

.image {
  object-fit: cover;
  height:100%;
  width: 100%;
  position: absolute;
  /* vertical-align: bottom; */
}
