.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
#subheader {
  display: flex;
  font-size: 14px;
  margin-top: 8px;
}

#num-reviews, #city, #state, #country {
  font-weight: 600;
  text-decoration: underline;
}

#dot {
  margin: 0 8px;
}

#name {
  font-size: 26px;
  font-weight: 600;
}

#image-container {
  width: 100%;
  display: flex;
  max-height: 500px;
  max-width: 1120px;
}

#divider {
  width: 50%;
}

.image {
  object-fit: cover;
  height:100%;
  width: 100%;
  position: absolute;
  /* vertical-align: bottom; */
}

#image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  resize: width;
  background-position: center;

  aspect-ratio: 1 / 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 8px;

}

.bottom-padded {
  padding-bottom: 8px;
}

@media (max-width: 1000px) {
  #small-hide {
    display: none;
  }
}
