/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;

  color: var(--ui-brand-color)
}

ul {
  padding: 0;
}

.pink {
  background-color: var(--brand-color);
  color: white;
  font-weight: bold;
  border: none;
}

#error-message {
  color: red;
  list-style: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-style: italic;
}

.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
:root {
  --brand-color: #FF385C;
  --ui-brand-color: #222222;
  --listing-title-weight: 600 ;
  --listing-title-size: 26px ;
  --listing-title-line-height: 30px ;
}
