/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}



body {
  font-family: Plus Jakarta Sans, Montserrat Alternates, Open Sans, Arimo,Roboto, sans-serif;
  font-size: 16px;
  margin: 0;

  color: var(--ui-brand-color)
}

ul {
  padding: 0;
}

.pink {
  background-color: var(--brand-color);
  color: white;
  font-weight: bold;
  border: none;
}

#error-message {
  color: red;
  list-style: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-style: italic;
}

.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
:root {
  --brand-color: #FF385C;
  --ui-brand-color: #222222;
  --listing-title-weight: 600 ;
  --listing-title-size: 26px ;
  --listing-title-line-height: 30px ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}

/* Class Modifiers */
.hidden {
  display: none;
}

.max1120 {
  max-width: 1120px;
}

.max1450 {
  max-width: 1450px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.padded {
  padding: 0 80px;
  width:100%;
}

.between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.radius {
  border-radius: 12px;
}

.stretch {
  align-items: stretch;
}

.top-padded {
  padding-top: 24px;
}

.block {
  display: block;
}

.y-overflow {
  overflow-y: hidden;
}

.relative {
  position: relative;
}

.top-pad-50 {
  padding-top: 50%;
}

.height0 {
  height: 0;
}

.height100 {
  height: 100%;
}

.minmin100 {
  min-height: 100%;
  min-width: 100%;
}

.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  resize: width;
}

.vert-align-bottom {
  vertical-align: bottom;
}

.min-height1 {
  min-height: 1px;
}

.primary {
  width:200px;
  height:200px;
}

.absolute0 {
  position: absolute;
  top:0;
  left: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

.ratio {
  aspect-ratio: 20/19;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.justify-between {
  justify-content: space-between;
  align-items: center;
}

.start {
  justify-content: start;
}
.end {
  justify-content: end;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.flex-columns {
  flex-direction: column;
}

.align {
  align-items: center;
}

.undercarriage {
  border-bottom: 1px solid rgba(0,0,0, .1);
}

.pointer {
  cursor: pointer;
}
