div.drop-down-menu {
  position: absolute;
  z-index: 1;
  right: 0px;
  top:25px;

  margin: auto 0;;

  display: flex;
  flex-direction: column;
  justify-content: center;
  float:right;
  width: max-content;
  height: max-content;
  min-width: 200px;
  min-height: 150px;
  text-align: end;
  background-color: white;
  border: #717171 solid 1px;
  border-radius: 25px;
}

#greeting {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ebebeb solid 1px;
}

div.drop-down-menu * {
  height: 48px;
  text-align: left;
}

li.user {
  list-style-type: none;
  width: 100%
}

div.drop-down-menu button {
  background-color: white;
  border: none;
}

div.drop-down-menu button:hover {
cursor: pointer;
background-color: rgb(235 235 235)

}
