.header {
  position: sticky;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 80px;
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  background-color: white;
}

#logo {
  height: 42px;
  width: auto;
}

#flair-image {
  height: 30px;
  /* width: auto; */
}

.home-button {
  display: flex;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: var(--brand-color)
}

.profile-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 77.2px;
  height: 42px;
  padding: 5px 5px 5px 12px;

  background-color: white;
  border: 1px solid #717171;
  border-radius: 21px;
  cursor: pointer;

  font-size: 20px;
  color: #717171
}

button:hover {
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
}

#profile-icon {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0 solid white;
  background-color: #717171;
  color: white;
  font-size: 25px;
  margin: 0 0;
  overflow: hidden;
}

.fa-user {
  translate: transformY(4px);
}

.drop-down-div {
  position: relative;
}

button {
  height: 48px;
  border-radius: 14px;
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer;
}

button:hover {
  box-shadow: rgb(0 0 0 / 20%) 0 0 6px;
}
